<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Payment</title>
    <link rel="stylesheet" href="css/style-service.css">
</head>
<body>
  <div class="sc-container">
    <h1>Something Went Wrong!</h1>
    <p>We apologize for the inconvenience caused,but an error occured while processing your order request</p>
    <p>For Any Support Email: support@company.com</p>
    <img src="images/cancel.png" alt="">
    <a href="/main" class="sc-btn">Back To Homepage</a>
  </div>
</body>
</html>