<%- include('partials/header2') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLAUNDRY</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhai+2&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div id="main-content">
            <h1>
                World class
                <strong>DRY CLEAN</strong>
                 & <br>
                <strong>LAUNDRY</strong> 
                "service, "
                <strong>NOW IN <br> INDIA</strong>

            </h1>
            <hr>
            <p>World Renowned Machines
                German Eco Friendly Cleaning Solutions</p>
                <h3>Upto 25% OFF On First Order</h3>
                <hr>
                <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a> -->
                <a class="btn btn-dark btn-lg" href="/joinus" role="button">Join Us</a>
        </div>
        
        <div class="main-contain">

        </div>
        <div id="main-img">
            <img src="images/main-img.jpeg.webp" alt="">
        </div>
        <!-- <img src="images/pexels-cottonbro-studio-7086373.jpg" class="img-fluid bg" alt="..."> -->
    </div>
</body>
</html>
<%- include('partials/footer') %>