<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Payment</title>
    <link rel="stylesheet" href="css/style-service.css">
</head>
<body>
  <div class="sc-container">
    <h1>Payment Successful !</h1>
    <p>Your Order Will be Picked in 2 buisness days.</p>
    <img src="images/success.png" alt="">
    <a href="/main" class="sc-btn">Back To Homepage</a>
  </div>
</body>
</html>